.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  margin-bottom: 5px;
}

.status {
  font-size: 14px;
  color: rgb(174, 7, 7);
}

.online {
  color: rgb(11, 166, 11);
}
